.gitattributes git-encoding=UTF-8 working-tree-encoding=ISO8859-1                                      
*_1 git-encoding=UTF-8 working-tree-encoding=ISO8859-1                                           
*_2 git-encoding=UTF-8 working-tree-encoding=IBM-1047
